<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Thoughts/public

    # Ako zahtjev ne postoji kao fajl ili direktorij
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
